*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.main_div{
  width: 30vw;
  height: auto;
  background-color:rgb(206, 221, 221);
  padding: 30px;
  border-radius: 10px;
  overflow-y: hidden;
}
h1{
  text-align: center;
  text-transform: capitalize;
  font-size: 32px;
  color: #2c3148;
  margin-bottom: 25px;
}
.main_heading{
    display: flex;
    background: rgb(223, 235, 235);
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
}
.answer{
  background:rgb(228, 204, 208);
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
}
h3{
  padding-left: 10px;
}

@media (max-width:1085px) {
  .main_div{
    width: 55vw;
  }
}
@media (max-width:575px) {
  .main_div{
    width: 85vw;
  }
}